html{
    box-sizing: border-box;
    height: 100%;

}
*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding:0;
}
body{
    align-items:center;
    background: linear-gradient(320deg, #4a0d62, #68477e, #836497) ;
    display: flex;
    font-family: Dosis, sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}
.wrapper
{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);

    border-radius: 16px;
    box-shadow: 0  4px 30px rgba(rgb(169, 89, 206));
    color: aliceblue;
    backdrop-filter:blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(rgb(48, 3, 69));
    border: 1px solid rgba(rgb(99, 19, 125));
    flex-basis:400px ;
    height:540px;
    padding:20px 350px;
} 
.screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(rgb(249, 247, 250));
    border: 1px solid rgba(169, 89, 206);
    border-radius: 16px;
    box-shadow: 0 4px 30px  rgba(rgb(169, 89, 206));
    color: rgb(213, 216, 219);
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}
.calc-button{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgb(172, 134, 188);
    border: 1px solid rgba(rgb(216, 198, 224));
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(rgb(169, 89, 206));
    color: rgb(60, 24, 78);
    flex-basis:20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;  
    padding: 1px 30px;
}

.calc-buttons-row{
    width: 100%;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(rgb(216, 198, 224));
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(rgb(169, 89, 206));
    color: rgb(91, 59, 99);
    flex-basis:20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;  
}
.calc-button:last-child
{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgb(196, 175, 205);
    border: 1px solid rgba(rgb(216, 198, 224));
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(rgb(169, 89, 206));
    color: rgb(91, 59, 99);
    color: #4a0d62;
    background: #836497;
}
.calc-button:last-child:hover{
    background-color: inherit;
    color:inherit;
}
.calc-button:hover{
    background-color: inherit;
}
.calc-button:active{
    background-color: antiquewhite;

}
.double{
    flex-basis: 47%;

}
.triple{
    flex-basis: 73%;
}